<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stopwatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stopwatch</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
  <div class="ion-text-center">
    <header>Default Size</header>
    <ion-button color="success" onclick="StartTimer();">Start</ion-button>
    <ion-button color="warning">Lap</ion-button>
    <ion-button color="danger">Stop</ion-button>
  </div>
  </section>
</ion-content>
