<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stopwatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stopwatch</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="center">
  <div class="stopwatch pt-3">
    <h1 text-center class="color-white font-lg">
      {{time}}
    </h1>
    
  <ion-grid>
    <ion-row text-center class="mt-5">
      <ion-col class="col-12" [hidden]="isStartHidden">
        <ion-button color="success" (click)="start()">Start</ion-button>
      </ion-col>
      <ion-col class="col-12" [hidden]="isStopLapHidden">
        <ion-button color="danger" (click)="stop()">Stop</ion-button>
        <ion-button color="warning" (click)="lap()">Lap</ion-button>
        <ion-button color="success" (click)="clear()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 text-center class="color-white font-lg" [hidden]="isStopLapHidden" style="white-space: pre-line">
          {{lapText}}
        </h1>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</div>

</ion-content>
